<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DynamicsApiTokenUrl" value="https://defra-custmast-dev.crm4.dynamics.com/"/>
    <add key="DynamicsApiClientId" value=""/>
    <!--value="1801d83b-54ff-4f63-bcfe-9133a4e168fc" />value="daf0995d-e3d8-4546-bd07-7f592a9478d5">-->
    <add key="DynamicsApiPassword" value="abcd"/>
    <add key="DynamicsApiUsername" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <!--<system.serviceModel>

    <services>
      <service name="Defra.CustomerMaster.Identity.Api.EnrolmentAPI">
        <endpoint address ="web" binding="webHttpBinding" contract="Defra.CustomerMaster.Identity.Api.IEnrolmentAPI"  />
      </service>
    </services>

  <behaviors>
    <serviceBehaviors>
      <behavior>
        -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
        <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
        <serviceDebug includeExceptionDetailInFaults="false"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
    
  <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
  </protocolMapping>    
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Defra.CustomerMaster.Identity.Api.EnrolmentAPI" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Defra.CustomerMaster.Identity.Api.IEnrolmentAPI" behaviorConfiguration="web"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>